
.item-card {
  width: 300px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
  background: white;
}


.item-image-wrapper {
  width: 100%;
  height: 180px;            
  overflow: hidden;
  border-radius: 10px;
}

/* Imagen */
.item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;       
  display: block;
}

.itemlist-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 20px auto;
}
